doctype html
html
    head
        title YouTube Video Archiver
        link(rel="stylesheet" href="main.css")
    body
        h1 YouTube Video Archiver
        p Make sure the video is public and the URL is correct
        br
        form(id="search")
            label Enter the video URL
            br
            br
            input(type='text', name='videoURL', placeholder='Video URL' required)
            br
            br
            button(type='submit', id='searchButton') Search for Video
            br
            br
        div(id="results")
        div(id="options")
            ul(id="qualityList")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="search.js")
        script(src="download.js")