body {
    text-align: center;
    font-family: Verdana, sans-serif;
}

#search input {
    width: 25%;
}

#qualityList {
    display: block;
    padding: 0 20px;
    word-break: keep-all;
    margin-left: 50%;
}