body {
    text-align: center;
    font-family: Verdana, sans-serif;
}

#search input {
    width: 25%;
}

#qualityList button {
    margin-left: 20px;
    margin-top: 5px;
}

h1 {
    font-size: 50px;
}